*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family:'Luckiest Guy';
    background-color: #e6e6ea;
}

/*header {
    width: 100%;
    background-color: #fe4a49;
  
}
*/
.Wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fe4a49;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

h1{
    color: white;
    text-align: center;
    font-size: 30px;
}

li{
    list-style-type: none;
    font-size: 20px;
}

ul{
    display: flex;
    gap: 2rem;
}

/*.Wrap{
    margin-left: 50px;
    display: inline-flex;
    color: white;
    font-size: 20px;
    align-items: center;
    padding: 30px;
}

nav ul{
    margin-left: 50%;
    display: flex;
    list-style-type: none;
    gap: 2rem;
}
*/

@media screen and (max-width: 600px){
body {
    background-color: tan;
    }
ul{
    display: block;
    float: left;
}
}

a {
    text-decoration: none;
    color: white;
}

.current a::after{
    content: '_';
    background-color: white;
    font-size: 4px;
    display: block;
}

.wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.equation{
    
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 50px;
    
 
}

.equation h1{
    
    display: inline;
    font-size: 20px;
}

.answer-options{
    font-size: 20px;
   
}

.answer-options h1{
    cursor: pointer;
    color: whitesmoke;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    
}

#option1{
    background-color: #5efe49;
    transition: 1s;
}

#option1:hover{
    color: #5efe49;
    background-color: white;
}

#option2{
    background-color: #2ab7ca;
    transition: 1s;
}

#option2:hover{
    color: #2ab7ca;
    background-color: white;
}

#option3{
    background-color: #fed766;
    transition: 1s;
}

#option3:hover{
    color: #fed766;
    background-color: white;
}